@import "~/assets/scss/vars.scss";

.icon {
  height: 16px;
  width: 16px;
  display: inline-block;

  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &.sort-up {
    background-image: url("~assets/icons/sort-up.svg");
  }

  &.sort-down {
    background-image: url("~assets/icons/sort-down.svg");
  }

  &.back-arrow-accent {
    background-image: url("~assets/icons/back-arrow-accent.svg");
  }


  &.back-arrow {
    background-image: url("~assets/icons/back-arrow.svg");
  }

  &.dropdown {
    background-image: url("~assets/icons/dropdown.svg");

  }

}
