@import "~/assets/scss/vars.scss";

.popup-form {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background: rgba(#000, 0.2);

  form {
    height: 200px;
    width: 500px;
    border-radius: 5px;

    background: $dark41;
  }
}
