@import "~/assets/scss/vars.scss";

@keyframes down {
  from {
    top: -30px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.popup-form {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background: rgba(#000, 0.2);

  &-body {
    position: relative;
    padding: 20px;
    height: auto;
    width: 400px;

    border-radius: 5px;

    background: $dark41;

    animation: down 300ms ease;
  }

  .title {
    display: block;
    margin: 0 0 10px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    user-select: none;
  }

  .x {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
  }

  form {
    height: auto;
    width: 100%;
    margin-top: 20px;

    .row {
      width: 100%;
      margin: 0 0 20px;

      display: flex;
      flex-flow: column nowrap;

      &.submit {
        margin-top: 40px;

      }

      .center {
        text-align: center;
      }

      label {
        margin-bottom: 10px;
      }

      select,
      input,
      button {
        width: 100%;
      }

      span {
        text-align: center;
      }
    }
  }
}
