//header
$header-height: 50px;

//colors
$accent1: #ca3e47;
$accent2: #b33941;

$dark11: #111111;
$dark21: #212121;
$dark31: #313131;
$dark41: #414141;
$dark52: #525252;

//text colors
$active: #ccc;
$inactive: #aaa;

$maintxt: #ccc;
$secondarytxt: #aaa;
